<%- contentFor('HeaderCss') %> <%- contentFor('breadcrumb') %>
<ul class="list-inline menu-left mb-0">
  <li class="list-inline-item">
    <button type="button" class="button-menu-mobile open-left waves-effect">
      <i class="ion-navicon"></i>
    </button>
  </li>
  <li class="hide-phone list-inline-item app-search">
    <h3 class="page-title">Contact's Details</h3>
  </li>
</ul>

<%- contentFor('body') %>
<div class="page-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card m-b-20">
          <div class="card-body">
            <h4 class="mt-0 header-title">
              See all the details of a particular contact
            </h4>
            <br /><br />
            <% include ../Partials/errorMessages %>
            <form method="POST" class="form-horizontal">
              <div class="form-group row">
                <label for="contactTitle" class="col-sm-2 col-form-label"
                  >Title</label
                >
                <div class="col-sm-10">
                  <input
                    class="form-control"
                    type="text"
                    id="contactTitle"
                    name="ContactTitle"
                    value="<%= contact.contactData.title %>"
                    readonly
                  />
                </div>
              </div>

              <div class="form-group row">
                <label for="contactUserId" class="col-sm-2 col-form-label"
                  >User ID</label
                >
                <div class="col-sm-10">
                  <input
                    class="form-control"
                    type="text"
                    id="contactUserId"
                    name="ContactUserId"
                    value="<%= contact.contactData.contact_by %>"
                    readonly
                  />
                </div>
              </div>

              <div class="form-group row">
                <label for="contactContactBy" class="col-sm-2 col-form-label"
                  >Contact By</label
                >
                <div class="col-sm-10">
                  <input
                    class="form-control"
                    type="text"
                    id="contactContactBy"
                    name="ContactContactBy"
                    value="<%= contact.user.userData.first_name %> <%= contact.user.userData.last_name %>"
                    readonly
                  />
                </div>
              </div>

              <div class="form-group row">
                <label for="contactSubject" class="col-sm-2 col-form-label"
                  >Subject</label
                >
                <div class="col-sm-10">
                  <input
                    class="form-control"
                    type="text"
                    id="contactSubject"
                    name="ContactSubject"
                    value="<%= contact.contactData.subject %>"
                    readonly
                  />
                </div>
              </div>

              <div class="form-group row">
                <label for="contactComment" class="col-sm-2 col-form-label"
                  >Comment</label
                >
                <div class="col-sm-10">
                  <input
                    class="form-control"
                    type="text"
                    id="contactComment"
                    name="ContactComment"
                    value="<%= contact.contactData.comment %>"
                    readonly
                  />
                </div>
              </div>

              <button
                type="button"
                class="btn btn-primary btn-group waves-effect"
                onclick="window.history.back()"
              >
                Back
              </button>

              <!-- <button
                id="btnCancel"
                name="btnCancel"
                type="button"
                class="btn btn-danger btn-group waves-effect"
                onclick="location.href='/dashboard'"
              >
                Cancel
              </button> -->
            </form>
            %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- contentFor('FooterJs') %> <%- contentFor('BottomJs') %>
