<%- contentFor('HeaderCss') %> <%- contentFor('breadcrumb') %>
<ul class="list-inline menu-left mb-0">
  <li class="list-inline-item">
    <button type="button" class="button-menu-mobile open-left waves-effect">
      <i class="ion-navicon"></i>
    </button>
  </li>
  <li class="hide-phone list-inline-item app-search">
    <h3 class="page-title">Sparkline Charts</h3>
  </li>
</ul>

<%- contentFor('body') %>
<div class="page-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4">
        <div class="card m-b-20">
          <div class="card-body">
            <h4 class="mt-0 header-title">Pie Chart</h4>
            <div id="sparkline1" class="text-center"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card m-b-20">
          <div class="card-body">
            <h4 class="mt-0 header-title">Bar Chart</h4>
            <div id="sparkline2" class="text-center"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card m-b-20">
          <div class="card-body analytics-info">
            <h4 class="mt-0 header-title">Line Chart</h4>
            <div id="sparkline4"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="card m-b-20">
          <div class="card-body">
            <h4 class="mt-0 header-title">Composite Bar Chart</h4>
            <div id="sparkline3" class="text-center"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card m-b-20">
          <div class="card-body">
            <h4 class="mt-0 header-title">Line Charts</h4>
            <div id="sparkline5" class="text-center"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card card-inverse card-success m-b-20">
          <div class="card-body">
            <h4 class="mt-0 header-title text-white">Discrete Chart</h4>
            <div id="sparkline6" class="text-center"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="card m-b-20">
          <div class="card-body">
            <h4 class="mt-0 header-title">Bullet Chart</h4>
            <div id="sparkline7"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card m-b-20">
          <div class="card-body">
            <h4 class="mt-0 header-title">Box Plot Chart</h4>
            <div id="sparkline8" class="text-center"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card m-b-20">
          <div class="card-body">
            <h4 class="mt-0 header-title">Tristate Charts</h4>
            <div id="sparkline9" class="text-center"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- contentFor('FooterJs') %>
<script src="/assets/plugins/sparklines-chart/jquery.sparkline.min.js"></script>
<script src="/assets/pages/sparklines.init.js"></script>

<%- contentFor('BottomJs') %>
