<%- contentFor('HeaderCss') %> <%- contentFor('breadcrumb') %>
<ul class="list-inline menu-left mb-0">
  <li class="list-inline-item">
    <button type="button" class="button-menu-mobile open-left waves-effect">
      <i class="ion-navicon"></i>
    </button>
  </li>
  <li class="hide-phone list-inline-item app-search">
    <h3 class="page-title">Customer's Details</h3>
  </li>
</ul>

<%- contentFor('body') %>
<div class="page-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card m-b-20">
          <div class="card-body">
            <h4 class="mt-0 header-title">
              See all the details of a particular customer
            </h4>
            <br /><br />
            <% include ../../Partials/errorMessages %>
            <form method="POST" class="form-horizontal">
              <div class="form-group row">
                <label for="customerFirstName" class="col-sm-2 col-form-label"
                  >First Name</label
                >
                <div class="col-sm-10">
                  <input
                    class="form-control"
                    type="text"
                    id="customerFirstName"
                    name="firstname"
                    placeholder="Enter your First Name"
                    value="<%= customer.first_name %>"
                    readonly
                  />
                </div>
              </div>

              <div class="form-group row">
                <label for="customerLastName" class="col-sm-2 col-form-label"
                  >Last Name</label
                >
                <div class="col-sm-10">
                  <input
                    class="form-control"
                    type="text"
                    id="customerLastName"
                    name="lastname"
                    value="<%= customer.last_name %>"
                    placeholder="Enter your Last Name"
                    readonly
                  />
                </div>
              </div>

              <div class="form-group row">
                <label for="customerEmail" class="col-sm-2 col-form-label"
                  >Email</label
                >
                <div class="col-sm-10">
                  <input
                    class="form-control"
                    type="text"
                    id="customerEmail"
                    name="email"
                    placeholder="Enter your Email"
                    value="<%= customer.email %>"
                    readonly
                  />
                </div>
              </div>

              <div class="form-group row">
                <label for="customerPhoneNumber" class="col-sm-2 col-form-label"
                  >Phone Number</label
                >
                <div class="col-sm-10">
                  <input
                    class="form-control"
                    type="text"
                    id="customerPhoneNumber"
                    name="phone"
                    placeholder="Enter your Phone Number"
                    value="<%= customer.phone_number %>"
                    readonly
                  />
                </div>
              </div>

              <div class="form-group row">
                <label for="customerAddress" class="col-sm-2 col-form-label"
                  >Address</label
                >
                <div class="col-sm-10">
                  <input
                    class="form-control"
                    type="text"
                    id="customerAddress"
                    name="address"
                    placeholder="Please enter your address"
                    value="<%= customer.address.flatNumber %>"
                    readonly
                  />
                  <br />
                  <div
                    class="input-group bootstrap-touchspin bootstrap-touchspin-injected"
                  >
                    <span
                      class="input-group-addon bootstrap-touchspin-prefix input-group-prepend"
                      ><span class="input-group-text">Area</span></span
                    >
                    <input
                      class="form-control"
                      type="text"
                      id="area"
                      name="area"
                      placeholder="Enter the area"
                      value="<%= customer.address.area %>"
                      readonly
                    />
                    &nbsp;
                    <span
                      class="input-group-addon bootstrap-touchspin-prefix input-group-prepend"
                      ><span class="input-group-text">City</span></span
                    >
                    <input
                      class="form-control"
                      type="text"
                      id="city"
                      name="city"
                      placeholder="Enter the city"
                      value="<%= customer.address.city %>"
                      readonly
                    />
                    &nbsp;
                    <span
                      class="input-group-addon bootstrap-touchspin-prefix input-group-prepend"
                      ><span class="input-group-text">Pincode</span></span
                    >
                    <input
                      class="form-control"
                      type="text"
                      id="pincode"
                      name="pincode"
                      placeholder="Enter your pincode"
                      value="<%= customer.address.pincode %>"
                      readonly
                    />
                  </div>
                  <br />
                  <div
                    class="input-group bootstrap-touchspin bootstrap-touchspin-injected"
                  >
                    <span
                      class="input-group-addon bootstrap-touchspin-prefix input-group-prepend"
                      ><span class="input-group-text">State</span></span
                    >
                    <input
                      class="form-control"
                      type="text"
                      id="state"
                      name="state"
                      placeholder="Enter the State"
                      value="<%= customer.address.state %>"
                      readonly
                    />
                    &nbsp;
                    <span
                      class="input-group-addon bootstrap-touchspin-prefix input-group-prepend"
                      ><span class="input-group-text">Country</span></span
                    >
                    <input
                      class="form-control"
                      type="text"
                      id="country"
                      name="country"
                      placeholder="Enter the Country"
                      value="<%= customer.address.country %>"
                      readonly
                    />
                  </div>
                  <!-- <br />
                  <div
                    class="input-group bootstrap-touchspin bootstrap-touchspin-injected"
                  >
                    <span
                      class="input-group-addon bootstrap-touchspin-prefix input-group-prepend"
                      ><span class="input-group-text">Latitude</span></span
                    >
                    <input
                      class="form-control"
                      type="text"
                      id="latitude"
                      name="latitude"
                      value="<%= customer.address.latitude %>"
                      readonly
                    />
                    &nbsp;
                    <span
                      class="input-group-addon bootstrap-touchspin-prefix input-group-prepend"
                      ><span class="input-group-text">Longitude</span></span
                    >
                    <input
                      class="form-control"
                      type="text"
                      id="longitude"
                      name="longitude"
                      value="<%= customer.address.longitude %>"
                      readonly
                    />
                  </div> -->
                </div>
              </div>

              <div class="form-group row">
                <label for="customerStatus" class="col-sm-2 col-form-label"
                  >Status</label
                >
                <div class="col-sm-10">
                  <input class="form-control" type="text" id="customerStatus"
                  name="status" <% if( customer.status === true ) { %>
                  value="Active" <% } else { %> value="In-Active" <% } %>
                  readonly />
                </div>
              </div>

              <div class="form-group row">
                <label for="customerIsDeleted" class="col-sm-2 col-form-label"
                  >Deleted</label
                >
                <div class="col-sm-10">
                  <input class="form-control" type="text" id="customerIsDeleted"
                  name="isDeleted" <% if( customer.is_deleted === false ) { %>
                  value="No" <% } else { %> value="Yes" <% } %> readonly />
                </div>
              </div>

              <% if( customer.is_deleted === true ) { %>
              <div class="form-group row">
                <label
                  for="customerRemoveReason"
                  class="col-sm-2 col-form-label"
                  >Reason for delete a user</label
                >
                <div class="col-sm-10">
                  <input
                    class="form-control"
                    type="text"
                    id="customerRemoveReason"
                    name="reason"
                    placeholder="Reason for deleting the user"
                    value="<%= customer.reason %>"
                    readonly
                  />
                </div>
              </div>
              <% } %>

              <button
                type="button"
                class="btn btn-primary btn-sm btn-block waves-effect"
                onclick="location.href='/customer/displayCustomers'"
              >
                Display Customers
              </button>

              <button
                id="btnCancel"
                name="btnCancel"
                type="button"
                class="btn btn-danger btn-sm btn-block waves-effect"
                onclick="location.href='/dashboard'"
              >
                Cancel
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- contentFor('FooterJs') %> <%- contentFor('BottomJs') %>
