<%- contentFor('HeaderCss') %>
<!-- DataTables -->
<link
  href="/assets/plugins/datatables/dataTables.bootstrap4.min.css"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="/assets/plugins/datatables/buttons.bootstrap4.min.css"
  rel="stylesheet"
  type="text/css"
/>
<!-- Responsive datatable examples -->
<link
  href="/assets/plugins/datatables/responsive.bootstrap4.min.css"
  rel="stylesheet"
  type="text/css"
/>

<%- contentFor('breadcrumb') %>
<ul class="list-inline menu-left mb-0">
  <li class="list-inline-item">
    <button type="button" class="button-menu-mobile open-left waves-effect">
      <i class="ion-navicon"></i>
    </button>
  </li>
  <li class="hide-phone list-inline-item app-search">
    <h3 class="page-title">Customers</h3>
  </li>
</ul>

<%- contentFor('body') %>
<div class="page-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card m-b-20">
          <div class="card-body">
            <h4 class="mt-0 header-title">List of all the Customers</h4>
            <% include ../../Partials/errorMessages %>
            <table
              id="datatable"
              class="table table-bordered dt-responsive nowrap"
              cellspacing="0"
              width="100%"
            >
              <thead>
                <tr>
                  <th>ID</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>City</th>
                  <th>Status</th>
                  <th>Actions</th>
                </tr>
              </thead>

              <tbody>
              <% for(var i=0;i<customers.length;i++) { %>
                <tr>
                  <td><%= i+1 %></td>
                  <td><%= customers[i].customerData.first_name %></td>
                  <td><%= customers[i].customerData.last_name %></td>
                  <td><%= customers[i].customerData.email %></td>
                  <td><%= customers[i].customerData.phone_number %></td>
                  <% if( customers[i].customerData.address.city !== "" ) { %>
                  <td><%= customers[i].customerData.address.city %></td>
                  <% } else { %>
                  <td>N/A</td>
                  <% } %>
                  <% if( customers[i].customerData.status === true ) { %>
                    <td><button class="btn btn-success waves-effect waves-light change_status" id="<%= customers[i].id %>">Active</button></td>
                  <% } else { %>
                    <td><button class="btn btn-danger waves-effect waves-light change_status"  id="<%= customers[i].id %>">In-Active</button></td>
                  <% } %>
                  <td>
                  <span data-toggle="modal" data-target="#removeModal_<%= customers[i].id %>">
                    <button 
                    type="button" 
                    class="btn btn-danger waves-effect waves-light m-r-5" 
                    data-toggle="tooltip" data-original-title="Delete"
                    >
                    <i class="mdi mdi-delete "></i>
                    <!-- <span> Delete </span> -->
                    </button>
                  </span>
                    <!-- <button 
                    type="button" 
                    class="btn btn-warning waves-effect waves-light m-r-5" 
                    data-toggle="tooltip" data-original-title="Edit"
                    >
                    <i class="mdi mdi-grease-pencil"></i> -->
                    <!-- <span> Edit </span> -->
                    <!-- </button> -->
                    <button 
                    type="button" 
                    class="btn btn-info waves-effect waves-light m-r-5" 
                    data-toggle="tooltip" data-original-title="View"
                    onclick="location.href='/customer/customerDetails/<%= customers[i].id %>'"
                    >
                    <i class="mdi mdi-file-document"></i>
                    <!-- <span> View </span> -->
                    </button>
                  </td>
                </tr>
              <!-- Modal -->
              <div class="modal fade" id="removeModal_<%= customers[i].id %>" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="modalLabel">
                        Are you sure you want to delete this user?
                      </h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form role="form" id="modalForm_<%= customers[i].id %>" class="remove_form">
                        <div>
                          <div class="form-group row">
                            <label  class="col-sm-2 col-form-label"
                              >Reason</label
                            >
                            <div class="col-sm-10">
                              <input
                                class="form-control"
                                type="text"
                                id="reasonForDelete_<%= customers[i].id %>"
                                name="reason"
                                placeholder="Please enter the reason for deletetion."
                                required
                              />
                            </div>
                          </div>
                        </div>
                      <div class="modal-footer">
                        <button type="button" id="btnModalClose_<%= customers[i].id %>" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" id="btnDelete_<%= customers[i].id %>" class="btn btn-danger remove-customer">Delete</button>
                      </div>
                    </div>
                  </form>
                  </div>
                </div>
              </div>
              <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
  </div>
</div>

<%- contentFor('FooterJs') %>
<!-- Required datatable js -->
<script src="/assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/assets/plugins/datatables/dataTables.bootstrap4.min.js"></script>
<!-- Buttons examples -->
<script src="/assets/plugins/datatables/dataTables.buttons.min.js"></script>
<script src="/assets/plugins/datatables/buttons.bootstrap4.min.js"></script>
<script src="/assets/plugins/datatables/jszip.min.js"></script>
<script src="/assets/plugins/datatables/pdfmake.min.js"></script>
<script src="/assets/plugins/datatables/vfs_fonts.js"></script>
<script src="/assets/plugins/datatables/buttons.html5.min.js"></script>
<script src="/assets/plugins/datatables/buttons.print.min.js"></script>
<script src="/assets/plugins/datatables/buttons.colVis.min.js"></script>
<!-- Responsive examples -->
<script src="/assets/plugins/datatables/dataTables.responsive.min.js"></script>
<script src="/assets/plugins/datatables/responsive.bootstrap4.min.js"></script>

<!-- Datatable init js -->
<script src="/assets/pages/datatables.init.js"></script>
<script>
  $(function () {
    $(document).on("click", ".change_status", function (e) {
      e.preventDefault();
      const id=$(this).attr("id");
      $.ajax({
        url:`/customer/status/${id}`,
        type:"POST",
        success:function(){
          location.reload();
        },
        error:function(){
          alert(`There is some issue to this ${id}`);
        }
      });
    });

    $(".remove_form").submit(function(e){
      e.preventDefault();
      const id=$(this).attr("id");  
      const split_id=id.split("_")[1];      
      const data={
        reason:$("#reasonForDelete_"+split_id).val(),
      }
      $.ajax({
        url:`/customer/removeCustomer/${split_id}`,
        type:"POST",
        data:data,
        success:function(){
          location.reload(true);
          // alert("The Record's been deleted...!!");
        },
        error:function(){
          alert(`There is some issue with the delete.`);
        }
      });
    });
  });
</script>

<%- contentFor('BottomJs') %>
