<%- contentFor('HeaderCss') %> <%- contentFor('breadcrumb') %>
<ul class="list-inline menu-left mb-0">
  <li class="list-inline-item">
    <button type="button" class="button-menu-mobile open-left waves-effect">
      <i class="ion-navicon"></i>
    </button>
  </li>
  <li class="hide-phone list-inline-item app-search">
    <h3 class="page-title">Update Vehicle-Type</h3>
  </li>
</ul>

<%- contentFor('body') %>
<div class="page-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card m-b-20">
          <div class="card-body">
            <h4 class="mt-0 header-title">Update a vehicle type to the system.</h4>
            <br /><br />
            <% include ../Partials/errorMessages %>
            <form method="POST" class="form-horizontal">
              <div class="form-group row">
                <label for="vehicleTypeName" class="col-sm-2 col-form-label"
                  >Vehicle Type Name</label
                >
                <div class="col-sm-10">
                  <input
                    class="form-control"
                    type="text"
                    id="vehicleTypeName"
                    name="name"
                    placeholder="Enter your Name of the Vehicle"
                    value="<%= vehicle.vehicle_type %>"
                    readonly
                  />
                </div>
              </div>

              <div class="form-group row">
                <label for="vehicleCapacity" class="col-sm-2 col-form-label"
                  >Capacity</label
                >
                <div class="col-sm-10">
                  <input
                    class="form-control"
                    type="text"
                    id="vehicleCapacity"
                    name="capacity"
                    placeholder="Enter the capacity of the vehicle"
                    value="<%= vehicle.vahicle_capacity %>"
                  />
                  <div>
                    <small class="form-text text-muted"
                      >Please enter capacity in tons.</small
                    >
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Dimensions</label>
                <div class="col-sm-10">
                  <div
                    class="input-group bootstrap-touchspin bootstrap-touchspin-injected"
                  >
                    <span
                      class="input-group-addon bootstrap-touchspin-prefix input-group-prepend"
                      ><span class="input-group-text">Length</span></span
                    >
                    <input
                      class="form-control"
                      type="text"
                      id="vehicleLength"
                      name="vehicleLength"
                      placeholder="Enter vehicle's Length"
                      value="<%= vehicle.dimensions.v_length %>"
                    />
                    &nbsp;
                    <span
                      class="input-group-addon bootstrap-touchspin-prefix input-group-prepend"
                      ><span class="input-group-text">Width</span></span
                    >
                    <input
                      class="form-control"
                      type="text"
                      id="vehicleWidth"
                      name="vehicleWidth"
                      value="<%= vehicle.dimensions.v_width %>"
                      value="246"
                    />
                    &nbsp;
                    <span
                      class="input-group-addon bootstrap-touchspin-prefix input-group-prepend"
                      ><span class="input-group-text">Height</span></span
                    >
                    <input
                      class="form-control"
                      type="text"
                      id="vehicleHeight"
                      name="vehicleHeight"
                      placeholder="Enter vehicle's Heigth"
                      value="<%= vehicle.dimensions.v_height %>"
                    />
                  </div>
                  <div>
                    <small class="form-text text-muted"
                      >Please enter dimentions in centimeter.</small
                    >
                  </div>
                </div>
              </div>

              <!-- <div class="form-group row">
                <label for="vehicleIcons" class="col-sm-2 col-form-label"
                  >Images</label
                >
                <div class="col-sm-10">
                  <input type="file" id="vehicleIcons" name="icons" multiple />
                </div>
              </div> -->

              <!-- <div class="form-group row">
                <button
                  id="btnRates"
                  type="button"
                  class="col-sm-2 col-form-label btn btn-outline-secondary btn-sm waves-effect"
                >
                  Add Rates
                </button>
              </div> -->

              <div class="form-group row">
                <label for="minimumRate" class="col-sm-2 col-form-label"
                  >Minimum Rate</label
                >
                <div class="col-sm-10">
                  <input
                    class="form-control"
                    type="text"
                    id="minimumRate"
                    name="minimumRate"
                    placeholder="Enter Minimum Rate"
                    value="<%= vehicle.minimumRate %>"

                  />
                </div>
              </div>

              <div class="form-group row" id="div_rate" name="rates[]">
                <label class="col-sm-2 col-form-label">Rates</label>
                <div class="col-sm-10 rates_input_div">
                  <% for(var i=0;i<vehicle.rates.length;i++) { %>
                    <!-- <div> -->
                    <div class="rates" id="newRate_<%= i %>">
                        <br />
                        <div
                        class="input-group bootstrap-touchspin bootstrap-touchspin-injected"
                        >
                        <span
                            class="input-group-addon bootstrap-touchspin-prefix input-group-prepend"
                            ><span class="input-group-text">Start</span></span
                        >
                        <input
                            id="kmFrom_newRate_<%= i %>"
                            class="form-control km-from"
                            type="text"
                            name="kmFrom"
                            placeholder="Enter Kilometer"
                            value="<%= vehicle.rates[i].start %>"
                        />
                        &nbsp;
                        <span
                            class="input-group-addon bootstrap-touchspin-prefix input-group-prepend"
                            ><span class="input-group-text">End</span></span
                        >
                        <input
                            id="kmTo_newRate_<%= i %>"
                            class="form-control km-to"
                            type="text"
                            name="kmTo"
                            placeholder="Enter Kilometers"
                            value="<%= vehicle.rates[i].end %>"
                        />
                        &nbsp;
                        <span
                            class="input-group-addon bootstrap-touchspin-prefix input-group-prepend"
                            ><span class="input-group-text">Price</span></span
                        >
                        <input
                            id="price_newRate_<%= i %>"
                            class="form-control"
                            type="text"
                            name="price"
                            placeholder="Enter price"
                            value="<%= vehicle.rates[i].rate %>"
                        />
                        &nbsp;
                        </div>
                        <br />
                        <div>
                        <label class="col-sm-0">Onwards</label>
                        <input
                            type="hidden"
                            id="chbPriceHidden_newRate_<%= i %>"
                            value="unchecked"
                            class="chb_rate"
                        />
                        <input
                            type="checkbox"
                            id="chbPrice_newRate_<%= i %>"
                            value="checked"
                            class="chb_rate"
                        />
                        &nbsp;
                        &nbsp;
                        &nbsp;
                        &nbsp;
                        &nbsp;
                        <button id="btnRemoveRate_newRate_<%= i %>"
                            type="button" class="btn btn-danger btn-sm waves-effect remove_rate">
                          Remove
                        </button>
                        </div>
                    </div>
                  <% } %>
                </div>

                <button
                  id="btnAddRate"
                  type="button"
                  class="btn btn-success btn-sm waves-effect add_more_rate"
                >
                  Add
                </button>
              </div>

              <button
                type="submit"
                class="btn btn-primary btn-group waves-effect"
              >
                Update Vehicle
              </button>

              <button
                id="btnCancel"
                name="btnCancel"
                type="button"
                class="btn btn-danger btn-group waves-effect"
                onclick="location.href='/vehicle-type/list'"
              >
                Cancel
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- contentFor('FooterJs') %> <%- contentFor('BottomJs') %>
<script>
  $(function () {
    $("#btnRates").click(function () {
      $("#div_rate").toggle();
    }); 

    $(document).on("click", ".add_more_rate", function (e) {
      e.preventDefault();
      let cnt = $(".rates").length;
      let id = "newRate_" + cnt;

      let endValue = $(".rates_input_div")
        .find(".km-to:last")
        .attr("name", "kmTo")
        .val();
      let convertEndValue = parseInt(endValue, 10);
      let newValue = convertEndValue + 1;

      var html =
        `<div class="rates" id=` +
        id +
        `>
          <br />
          <div
            class="input-group bootstrap-touchspin bootstrap-touchspin-injected"
          >
            <span
              class="input-group-addon bootstrap-touchspin-prefix input-group-prepend"
              ><span class="input-group-text">Start</span></span
            >
            <input
              id="kmFrom_` +
        id +
        `"
              class="form-control km-from"
              type="text"
              name="kmFrom"
              placeholder="Enter Kilometer"
            />
            &nbsp;
            <span
              class="input-group-addon bootstrap-touchspin-prefix input-group-prepend"
              ><span class="input-group-text">End</span></span
            >
            <input
              id="kmTo_` +
        id +
        `"
              class="form-control km-to"
              type="text"
              name="kmTo"
              placeholder="Enter Kilometers"
              
            />
            &nbsp;
            <span
              class="input-group-addon bootstrap-touchspin-prefix input-group-prepend"
              ><span class="input-group-text">Price</span></span
            >
            <input
              id="price_` +
        id +
        `"
              class="form-control"
              type="text"
              name="price"
              placeholder="Enter price"
            />
            &nbsp;
          </div>
          <br/>
          <div>
            <label class="col-sm-0">Onwards</label>
            <input type="hidden" id="chbPriceHidden_` +
        id +
        `" value="unchecked" class="chb_rate" />
            <input type="checkbox" id="chbPrice_` +
        id +
        `" value="checked" class="chb_rate" />
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            <button id="btnRemoveRate_` +
        id +
        `" type="button" class="btn btn-danger btn-sm waves-effect remove_rate">
              Remove
            </button>
          </div>
        </div>
      </div>`;
      $(".rates_input_div").append(html);

      if($(".rates").length == 1){
            $(".rates").find("#kmFrom_"+id).attr("readonly", false);
            $(".rates")
                .find("#kmFrom_" + id)
                .val("");
            $("#btnRemoveRate_" + id).css("display","none");
        } else{
            $(".rates").find("#kmFrom_"+id).attr("readonly", true);
            $(".rates")
                .find("#kmFrom_" + id)
                .val(newValue);
        }
    });

    $(document).on("click", ".remove_rate", function (e) {
        let id = $(this).attr("id");
        let split_id = id.split("_");
        let removeId = "#newRate_" + split_id[2];
        $(removeId).remove();
    });

    $(document).on("click", ".chb_rate", function () {
      let id = $(this).attr("id");
      let slice_id = id.slice(9);

      if ($(this).is(":checked") == true) {
        $("#kmTo_" + slice_id).val("-1");
        $("#btnAddRate").attr("disabled", true);
        $("#btnRemoveRate_" + slice_id).attr("disabled", true);
        $("#kmTo_" + slice_id).attr("readonly", true);
      } else {
        $("#kmTo_" + slice_id).val("");
        $("#btnAddRate").attr("disabled", false);
        $("#btnRemoveRate_" + slice_id).attr("disabled", false);
        $("#kmTo_" + slice_id).attr("readonly", false);
      }
    });
  });
</script>
