<%- contentFor('HeaderCss') %> <%- contentFor('breadcrumb') %>
<ul class="list-inline menu-left mb-0">
  <li class="list-inline-item">
    <button type="button" class="button-menu-mobile open-left waves-effect">
      <i class="ion-navicon"></i>
    </button>
  </li>
  <li class="hide-phone list-inline-item app-search">
    <h3 class="page-title">Add Admin</h3>
  </li>
</ul>

<%- contentFor('body') %>
<div class="page-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card m-b-20">
          <div class="card-body">
            <h4 class="mt-0 header-title">Add a new admin to the system.</h4>
            <br /><br />

            <form method="POST" class="form-horizontal">
              <div class="form-group row">
                <label for="adminFirstName" class="col-sm-2 col-form-label"
                  >First Name</label
                >
                <div class="col-sm-10">
                  <input
                    class="form-control"
                    type="text"
                    id="adminFirstName"
                    name="firstname"
                    placeholder="Enter your First Name"
                    value="Mahi"
                  />
                </div>
              </div>

              <div class="form-group row">
                <label for="adminLastName" class="col-sm-2 col-form-label"
                  >Last Name</label
                >
                <div class="col-sm-10">
                  <input
                    class="form-control"
                    type="text"
                    id="adminLastName"
                    name="lastname"
                    placeholder="Enter your Last Name"
                    value="Shah"
                  />
                </div>
              </div>

              <div class="form-group row">
                <label for="adminPhoneNumber" class="col-sm-2 col-form-label"
                  >Phone Number</label
                >
                <div class="col-sm-10">
                  <input
                    class="form-control"
                    type="text"
                    id="adminPhoneNumber"
                    name="phone"
                    placeholder="Enter your Phone Number"
                    value="1234567890"
                  />
                </div>
              </div>

              <div class="form-group row">
                <label for="adminEmail" class="col-sm-2 col-form-label"
                  >Email</label
                >
                <div class="col-sm-10">
                  <input
                    class="form-control"
                    type="email"
                    id="adminEmail"
                    name="email"
                    placeholder="Enter your Email ID"
                    value="mahi@test.com"
                  />
                </div>
              </div>

              <div class="form-group row">
                <label for="adminPassword" class="col-sm-2 col-form-label"
                  >Password</label
                >
                <div class="col-sm-10">
                  <input
                    class="form-control"
                    type="password"
                    id="adminPassword"
                    name="password"
                    placeholder="Enter your Password"
                    value="123456"
                  />
                </div>
              </div>

              <div class="form-group row">
                <label for="adminDocumentType" class="col-sm-2 col-form-label"
                  >Identity Document</label
                >
                <div class="col-sm-10">
                  <select
                    id="adminDocumentType"
                    name="documentType"
                    class="form-control"
                  >
                    <option disabled>Select the Document Type</option>
                    <option>PAN</option>
                    <option>Aadhar Card</option>
                    <option selected>Passport</option>
                    <option>Election Card</option>
                  </select>
                </div>
              </div>

              <!-- <div class="form-group row">
                <label for="adminStatus" class="col-sm-2 col-form-label"
                  >Status</label
                >
                <div class="col-sm-1">
                  <input
                    class="form-control"
                    type="checkbox"
                    id="adminStatus"
                    name="status"
                    onclick="myFunction()"
                  />
                </div>
              </div> -->

              <div class="form-group row">
                <label for="adminStatus" class="col-sm-2 col-form-label"
                  >Status</label
                >
                <div class="col-sm-10">
                  <select id="adminStatus" name="status" class="form-control">
                    <option disabled selected>Select</option>
                    <option value="true">Active</option>
                    <option value="false">In-Active</option>
                  </select>
                </div>
              </div>

              <button
                type="submit"
                class="btn btn-primary btn-sm btn-block waves-effect"
              >
                Add an Admin
              </button>

              <button
                type="button"
                class="btn btn-danger btn-sm btn-block waves-effect"
                onclick="location.href='/dashboard'"
              >
                Cancel
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- contentFor('FooterJs') %> <%- contentFor('BottomJs') %>
