<%- contentFor('HeaderCss') %> <%- contentFor('breadcrumb') %>
<ul class="list-inline menu-left mb-0">
  <li class="list-inline-item">
    <button type="button" class="button-menu-mobile open-left waves-effect">
      <i class="ion-navicon"></i>
    </button>
  </li>
  <li class="hide-phone list-inline-item app-search">
    <h3 class="page-title">Change Password</h3>
  </li>
</ul>

<%- contentFor('body') %>
<div class="page-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card m-b-20">
          <div class="card-body">
            <h4 class="mt-0 header-title">Change your password</h4>
            <br />
            <% include ../Partials/errorMessages %>
            <form method="POST" class="form-horizontal">
              <div class="form-group row">
                <label for="newPassword" class="col-sm-2 col-form-label"
                  >New Password</label
                >
                <div class="col-sm-10">
                  <input
                    class="form-control"
                    type="password"
                    id="newPassword"
                    name="password"
                    placeholder="Enter your New Passport"
                  />
                </div>
              </div>

              <div class="form-group row">
                <label for="retypePassword" class="col-sm-2 col-form-label"
                  >Retype New Password</label
                >
                <div class="col-sm-10">
                  <input
                    class="form-control"
                    type="password"
                    id="retypePassword"
                    name="newPassword"
                    placeholder="Re-enter your New Passport"
                  />
                </div>
              </div>

              <button
                type="submit"
                class="btn btn-primary btn-sm btn-block waves-effect"
              >
                Change your password
              </button>

              <button
                type="button"
                class="btn btn-danger btn-sm btn-block waves-effect"
                onclick="location.href='/dashboard'"
              >
                Cancel
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- contentFor('FooterJs') %> <%- contentFor('BottomJs') %>
