<%- contentFor('HeaderCss') %> <%- contentFor('breadcrumb') %>
<ul class="list-inline menu-left mb-0">
  <li class="list-inline-item">
    <button type="button" class="button-menu-mobile open-left waves-effect">
      <i class="ion-navicon"></i>
    </button>
  </li>
  <li class="hide-phone list-inline-item app-search">
    <h3 class="page-title">Add Transporter</h3>
  </li>
</ul>

<%- contentFor('body') %>
<div class="page-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card m-b-20">
          <div class="card-body">
            <h4 class="mt-0 header-title">
              Transporter Details
            </h4>
            <br />
            <div class="row">
                <label
                         for="driverPhone"
                          class="col-sm-2 col-form-label"
                          >Phone Number</label
                        >
                        <div class="col-sm-10">
                          <div
                            class="input-group bootstrap-touchspin bootstrap-touchspin-injected"
                          >
                            <span
                              class="input-group-addon bootstrap-touchspin-prefix input-group-prepend"
                              ><span class="input-group-text">+91</span></span
                            >
                            <input
                            class="form-control"
                            type="text"
                            id="driverPhone"
                            name="Phone"
                            placeholder="Enter your phone number"
                              
                            />
                            <span data-toggle="modal" data-target="#removeModal2"><button type="button" id="driverVerification_button" data-toggle="tooltip" data-original-title="driverVerification" class="btn btn-danger">Verification</button></span>
                          </div>
                        </div>
                <div id="recaptcha-container"></div>
                <div class="form-group row">
                          <label for="code" class="col-sm-5 col-form-label"
                            >Verification</label
                          >
                          <div class="col-sm-10">
                            <input
                              class="form-control"
                              type="text"
                              id="code"
                              name="code"
                              placeholder="Enter your Verification Code"
                            
                            />
                          </div>
                        </div>
                        <div>
                        <button
                        type="button"
                        class="btn btn-group btn-danger waves-effect"
                        id="verifyButton"
                      >
                        Verify Transporter
                      </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- contentFor('FooterJs') %>
<script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
<script>
  var config = {
  apiKey: "AIzaSyALoyUbKfKhksdyblkTeucUUr6o-yhKbMA",
  authDomain: "logistics-ondemand-app.firebaseapp.com",
  databaseURL: "https://logistics-ondemand-app.firebaseio.com",
  projectId: "logistics-ondemand-app",
  storageBucket: "logistics-ondemand-app.appspot.com",
  messagingSenderId: "335686843365",
  appId: "335686843365:web:d4bb2a7c82af72fcdf8d0c",
  measurementId: "G-7WPCXTQJ8N"
  };
firebase.initializeApp(config);

window.recaptchaVerifier = new firebase.auth.RecaptchaVerifier('recaptcha-container');

$(document).ready(function(){
    $("#driverVerification_button").click(function (e) {
        e.preventDefault()
        e.stopPropagatiom()
        const phoneNumber = "+91" + $("#driverPhone").val();
        console.log(window.recaptchaVerifier)
        const appVerifier = window.recaptchaVerifier;
        firebase.auth().signInWithPhoneNumber(phoneNumber, appVerifier)
            .then((confirmationResult) => {
            // SMS sent. Prompt user to type the code from the message, then sign the
            // user in with confirmationResult.confirm(code).
            console.log('result', confirmationResult)
            window.confirmationResult = confirmationResult;
            // ...
            }).catch((error) => {
                console.log('error', error)
            // Error; SMS not sent
            // ...
            window.recaptchaVerifier.render().then(function(widgetId) {
               grecaptcha.reset(widgetId);
            })
            
            });

    })
})
$(function(){
    $(document).on("click", ".chb_transporterAsDriver", function () {
      if ($(this).is(":checked") == true) {
        const transporterEmail = $("#transporterEmail").val();
        const transporterPhone = $("#transporterPhoneNumber").val();
        const transporterLastName = $("#transporterLastName").val();
        const transporterFirstName = $("#transporterFirstName").val();

        $("#driverFirstName").val(transporterFirstName);
        $("#driverFirstName").attr("readonly", true);

        $("#driverLastName").val(transporterLastName);
        $("#driverLastName").attr("readonly", true);

        $("#driverEmail").val(transporterEmail);
        $("#driverEmail").attr("readonly", true);
        
        $("#driverPhone").val(transporterPhone);
        $("#driverPhone").attr("readonly", true);
      } else {
        $("#driverFirstName").val("");
        $("#driverFirstName").attr("readonly", false);

        $("#driverLastName").val("");
        $("#driverLastName").attr("readonly", false);

        $("#driverEmail").val("");
        $("#driverEmail").attr("readonly", false);

        $("#driverPhone").val("");
        $("#driverPhone").attr("readonly", false);
      }
    });
  });
</script>
<%- contentFor('BottomJs') %>
