<%- contentFor('HeaderCss') %> <%- contentFor('breadcrumb') %>
<ul class="list-inline menu-left mb-0">
  <li class="list-inline-item">
    <button type="button" class="button-menu-mobile open-left waves-effect">
      <i class="ion-navicon"></i>
    </button>
  </li>
  <li class="hide-phone list-inline-item app-search">
    <h3 class="page-title">Add Transporter</h3>
  </li>
</ul>

<%- contentFor('body') %>
<div class="page-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card m-b-20">
          <div class="card-body">
            <h4 class="mt-0 header-title">
              Add a new transporter to the system.
            </h4>
            <br /><br />

            <form method="POST" class="form-horizontal">
              <div class="form-group row">
                <label
                  for="transporterFirstName"
                  class="col-sm-2 col-form-label"
                  >First Name</label
                >
                <div class="col-sm-10">
                  <input
                    class="form-control"
                    type="text"
                    id="transporterFirstName"
                    name="firstname"
                    placeholder="Enter your First Name"
                    value="Yesha"
                  />
                </div>
              </div>

              <div class="form-group row">
                <label for="transporterLastName" class="col-sm-2 col-form-label"
                  >Last Name</label
                >
                <div class="col-sm-10">
                  <input
                    class="form-control"
                    type="text"
                    id="transporterLastName"
                    name="lastname"
                    placeholder="Enter your Last Name"
                    value="limited"
                  />
                </div>
              </div>

              <div class="form-group row">
                <label
                  for="transporterPhoneNumber"
                  class="col-sm-2 col-form-label"
                  >Phone Number</label
                >
                <div class="col-sm-10">
                  <input
                    class="form-control"
                    type="text"
                    id="transporterPhoneNumber"
                    name="phone"
                    placeholder="Enter your Phone Number"
                    value="9876543210"
                  />
                </div>
              </div>

              <div class="form-group row">
                <label for="transporterEmail" class="col-sm-2 col-form-label"
                  >Email</label
                >
                <div class="col-sm-10">
                  <input
                    class="form-control"
                    type="email"
                    id="transporterEmail"
                    name="email"
                    placeholder="Enter your Email ID"
                    value="yesha@test.com"
                  />
                </div>
              </div>

              <div class="form-group row">
                <label for="transporterAddress" class="col-sm-2 col-form-label"
                  >Address</label
                >
                <div class="col-sm-10">
                  <input
                    type="text"
                    class="form-control"
                    id="transporterAddress"
                    name="address"
                    placeholder="Enter your Address"
                    value="11, Vardhman Nagar Society,"
                  />
                </div>
              </div>

              <div class="form-group row">
                <label for="transporterArea" class="col-sm-2 col-form-label"
                  >Area</label
                >
                <div class="col-sm-10">
                  <input
                    type="text"
                    class="form-control"
                    id="transporterArea"
                    name="area"
                    placeholder="Enter your Area"
                    value="Navrangpura"
                  />
                </div>
              </div>

              <div class="form-group row">
                <label for="transporterCity" class="col-sm-2 col-form-label"
                  >City</label
                >
                <div class="col-sm-10">
                  <input
                    type="text"
                    class="form-control"
                    id="transporterCity"
                    name="city"
                    placeholder="Enter your City"
                    value="Ahmedabad"
                  />
                </div>
              </div>

              <div class="form-group row">
                <label for="transporterPincode" class="col-sm-2 col-form-label"
                  >Pincode</label
                >
                <div class="col-sm-10">
                  <input
                    type="text"
                    class="form-control"
                    id="transporterPincode"
                    name="pincode"
                    placeholder="Enter your Pincode"
                    value="380009"
                  />
                </div>
              </div>

              <div class="form-group row">
                <label for="transporterState" class="col-sm-2 col-form-label"
                  >State</label
                >
                <div class="col-sm-10">
                  <input
                    type="text"
                    class="form-control"
                    id="transporterState"
                    name="state"
                    placeholder="Enter your State"
                    value="Gujarat"
                  />
                </div>
              </div>

              <div class="form-group row">
                <label for="transporterCountry" class="col-sm-2 col-form-label"
                  >Country</label
                >
                <div class="col-sm-10">
                  <input
                    type="text"
                    class="form-control"
                    id="transporterCountry"
                    name="country"
                    placeholder="Enter your Country"
                    value="India"
                  />
                </div>
              </div>

              <!-- <div class="form-group row">
                <label
                  for="transporterDocumentType"
                  class="col-sm-2 col-form-label"
                  >Identity Document</label
                >
                <div class="col-sm-10">
                  <select
                    id="transporterDocumentType"
                    name="documentType"
                    class="form-control"
                  >
                    <option disabled>Select the Document Type</option>
                    <option>PAN</option>
                    <option>Aadhar Card</option>
                    <option selected>Passport</option>
                    <option>Election Card</option>
                  </select>
                </div>
              </div> -->

              <div class="form-group row">
                <label for="transporterStatus" class="col-sm-2 col-form-label"
                  >Status</label
                >
                <div class="col-sm-10">
                  <select
                    id="transporterStatus"
                    name="status"
                    class="form-control"
                  >
                    <option disabled selected>Select</option>
                    <option value="true">Active</option>
                    <option value="false">In-Active</option>
                  </select>
                </div>
              </div>

              <button
                type="submit"
                class="btn btn-primary btn-sm btn-block waves-effect"
              >
                Add Transporter
              </button>

              <button
                type="button"
                class="btn btn-danger btn-sm btn-block waves-effect"
                onclick="window.location.href='/dashboard'"
              >
                Cancel
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- contentFor('FooterJs') %> <%- contentFor('BottomJs') %>
