<%- contentFor('HeaderCss') %>
<!-- DataTables -->
<link
  href="assets/plugins/datatables/dataTables.bootstrap4.min.css"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="assets/plugins/datatables/buttons.bootstrap4.min.css"
  rel="stylesheet"
  type="text/css"
/>
<!-- Responsive datatable examples -->
<link
  href="assets/plugins/datatables/responsive.bootstrap4.min.css"
  rel="stylesheet"
  type="text/css"
/>

<%- contentFor('breadcrumb') %>
<ul class="list-inline menu-left mb-0">
  <li class="list-inline-item">
    <button type="button" class="button-menu-mobile open-left waves-effect">
      <i class="ion-navicon"></i>
    </button>
  </li>
  <li class="hide-phone list-inline-item app-search">
    <h3 class="page-title">Transporters</h3>
  </li>
</ul>

<%- contentFor('body') %>
<div class="page-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card m-b-20">
          <div class="card-body">
            <h4 class="mt-0 header-title">List of all the transporters</h4>

            <table
              id="datatable"
              class="table table-bordered dt-responsive nowrap"
              cellspacing="0"
              width="100%"
            >
              <thead>
                <tr>
                  <th>ID</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>Status</th>
                  <th>Drivers/Vehicals</th>
                  <th>Actions</th>
                </tr>
              </thead>

                
              <tbody>
              <% for(var i=0;i<transporters.length;i++) { %>

                <tr>
                  <td><%= i+1 %></td>
                  <td><%= transporters[i].transporterData.first_name %></td>
                  <td><%= transporters[i].transporterData.last_name %></td>
                  <td><%= transporters[i].transporterData.email %></td>
                  <td><%= transporters[i].transporterData.phone_number %></td>
                  <% if( transporters[i].transporterData.status === true ) { %>
                    <td>Active</td>
                  <% } else { %>
                    <td>In-Active</td>
                  <% } %>
                  <td>
                    <button 
                    type="button" 
                    class="btn btn-blue-grey waves-effect waves-light m-r-5" 
                    data-toggle="tooltip" data-original-title="Add new driver"

                    >
                    <i class="mdi mdi-plus "></i>
                    Driver
                    </button>
                    <button 
                    type="button" 
                    class="btn btn-blue-grey waves-effect waves-light m-r-5" 
                    data-toggle="tooltip" data-original-title="Add new vehical"
                    >
                    <i class="mdi mdi-plus "></i>
                    Vehical
                    </button>
                </td>
                  <td>
                    <button 
                    type="button" 
                    class="btn btn-danger waves-effect waves-light m-r-5" 
                    data-toggle="tooltip" data-original-title="Delete"
                    >
                    <i class="mdi mdi-delete"></i>
                    <!-- <span> Delete </span> -->
                    </button>
                    <button 
                    type="button" 
                    class="btn btn-warning waves-effect waves-light m-r-5"
                    data-toggle="tooltip" data-original-title="Edit"
                    >
                    <i class="mdi mdi-grease-pencil"></i>
                    <!-- <span> Edit </span> -->
                    </button>
                    <button 
                    type="button" 
                    class="btn btn-info waves-effect waves-light m-r-5" 
                    data-toggle="tooltip" data-original-title="View"
                    >
                    <i class="mdi mdi-file-document"></i>
                    <!-- <span> View </span> -->
                    </button>
                  </td>
                </tr>
              <% } %>

              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
  </div>
</div>

<%- contentFor('FooterJs') %>
<!-- Required datatable js -->
<script src="assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="assets/plugins/datatables/dataTables.bootstrap4.min.js"></script>
<!-- Buttons examples -->
<script src="assets/plugins/datatables/dataTables.buttons.min.js"></script>
<script src="assets/plugins/datatables/buttons.bootstrap4.min.js"></script>
<script src="assets/plugins/datatables/jszip.min.js"></script>
<script src="assets/plugins/datatables/pdfmake.min.js"></script>
<script src="assets/plugins/datatables/vfs_fonts.js"></script>
<script src="assets/plugins/datatables/buttons.html5.min.js"></script>
<script src="assets/plugins/datatables/buttons.print.min.js"></script>
<script src="assets/plugins/datatables/buttons.colVis.min.js"></script>
<!-- Responsive examples -->
<script src="assets/plugins/datatables/dataTables.responsive.min.js"></script>
<script src="assets/plugins/datatables/responsive.bootstrap4.min.js"></script>

<!-- Datatable init js -->
<script src="assets/pages/datatables.init.js"></script>

<%- contentFor('BottomJs') %>
