<%- contentFor('HeaderCss') %>

<!-- DataTables -->
<link
  href="/assets/plugins/datatables/dataTables.bootstrap4.min.css"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="/assets/plugins/datatables/buttons.bootstrap4.min.css"
  rel="stylesheet"
  type="text/css"
/>
<!-- Responsive datatable examples -->
<link
  href="/assets/plugins/datatables/responsive.bootstrap4.min.css"
  rel="stylesheet"
  type="text/css"
/>

<%- contentFor('breadcrumb') %>
<ul class="list-inline menu-left mb-0">
  <li class="list-inline-item">
    <button type="button" class="button-menu-mobile open-left waves-effect">
      <i class="ion-navicon"></i>
    </button>
  </li>
  <li class="hide-phone list-inline-item app-search">
    <h3 class="page-title">Transporter's Details</h3>
  </li>
</ul>

<%- contentFor('body') %>
<div class="page-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card m-b-20">
          <div class="card-body">
            <h4 class="mt-0 header-title">
              See all the details of a particular Transporter
            </h4>
            <br />
            <% include ../../Partials/errorMessages %>
            <!-- <form method="POST" class="form-horizontal"> -->
              <div class="form-group row">
                <label
                  for="transporterFirstName"
                  class="col-sm-2 col-form-label"
                  >First Name</label
                >
                <div class="col-sm-10">
                  <input
                    class="form-control"
                    type="text"
                    id="transporterFirstName"
                    name="firstname"
                    placeholder="Enter your First Name"
                    value="<%= transporter.transporterData.first_name %>"
                    readonly
                  />
                </div>
              </div>

              <div class="form-group row">
                <label for="transporterLastName" class="col-sm-2 col-form-label"
                  >Last Name</label
                >
                <div class="col-sm-10">
                  <input
                    class="form-control"
                    type="text"
                    id="transporterLastName"
                    name="lastname"
                    value="<%= transporter.transporterData.last_name %>"
                    placeholder="Enter your Last Name"
                    readonly
                  />
                </div>
              </div>

              <div class="form-group row">
                <label for="transporterEmail" class="col-sm-2 col-form-label"
                  >Email</label
                >
                <div class="col-sm-10">
                  <input
                    class="form-control"
                    type="text"
                    id="transporterEmail"
                    name="email"
                    placeholder="Enter your Email"
                    value="<%= transporter.transporterData.email %>"
                    readonly
                  />
                </div>
              </div>

              <div class="form-group row">
                <label
                  for="transporterPhoneNumber"
                  class="col-sm-2 col-form-label"
                  >Phone Number</label
                >
                <div class="col-sm-10">
                  <input
                    class="form-control"
                    type="text"
                    id="transporterPhoneNumber"
                    name="phone"
                    placeholder="Enter your Phone Number"
                    value="<%= transporter.transporterData.phone_number %>"
                    readonly
                  />
                </div>
              </div>

              <div class="form-group row">
                <label for="transporterAddress" class="col-sm-2 col-form-label"
                  >Address</label
                >
                <div class="col-sm-10">
                  <input
                    class="form-control"
                    type="text"
                    id="transporterAddress"
                    name="address"
                    placeholder="Please enter your address"
                    value="<%= transporter.transporterData.address.flatNumber %>"
                    readonly
                  />
                  <br />
                  <div
                    class="input-group bootstrap-touchspin bootstrap-touchspin-injected"
                  >
                    <span
                      class="input-group-addon bootstrap-touchspin-prefix input-group-prepend"
                      ><span class="input-group-text">Area</span></span
                    >
                    <input
                      class="form-control"
                      type="text"
                      id="area"
                      name="area"
                      placeholder="Enter the area"
                      value="<%= transporter.transporterData.address.area %>"
                      readonly
                    />
                    &nbsp;
                    <span
                      class="input-group-addon bootstrap-touchspin-prefix input-group-prepend"
                      ><span class="input-group-text">City</span></span
                    >
                    <input
                      class="form-control"
                      type="text"
                      id="city"
                      name="city"
                      placeholder="Enter the city"
                      value="<%= transporter.transporterData.address.city %>"
                      readonly
                    />
                    &nbsp;
                    <span
                      class="input-group-addon bootstrap-touchspin-prefix input-group-prepend"
                      ><span class="input-group-text">Pincode</span></span
                    >
                    <input
                      class="form-control"
                      type="text"
                      id="pincode"
                      name="pincode"
                      placeholder="Enter your pincode"
                      value="<%= transporter.transporterData.address.pincode %>"
                      readonly
                    />
                  </div>
                  <br />
                  <div
                    class="input-group bootstrap-touchspin bootstrap-touchspin-injected"
                  >
                    <span
                      class="input-group-addon bootstrap-touchspin-prefix input-group-prepend"
                      ><span class="input-group-text">State</span></span
                    >
                    <input
                      class="form-control"
                      type="text"
                      id="state"
                      name="state"
                      placeholder="Enter the State"
                      value="<%= transporter.transporterData.address.state %>"
                      readonly
                    />
                    &nbsp;
                    <span
                      class="input-group-addon bootstrap-touchspin-prefix input-group-prepend"
                      ><span class="input-group-text">Country</span></span
                    >
                    <input
                      class="form-control"
                      type="text"
                      id="country"
                      name="country"
                      placeholder="Enter the Country"
                      value="<%= transporter.transporterData.address.country %>"
                      readonly
                    />
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label for="verifyTransporter" class="col-sm-2 col-form-label"
                  >Verified</label
                >
                <div class="col-sm-10">
                  <input class="form-control" type="text" id="verifyTransporter"
                  name="is_verified" <% if( transporter.transporterData.is_verified ===
                  "pending" ) { %> value="Pending" <% } else { %> value="Verified" <%
                  } %> readonly />
                </div>
              </div>

              <div class="form-group row">
                <label for="transporterStatus" class="col-sm-2 col-form-label"
                  >Status</label
                >
                <div class="col-sm-10">
                  <input class="form-control" type="text" id="transporterStatus"
                  name="status" <% if( transporter.transporterData.status ===
                  true ) { %> value="Active" <% } else { %> value="In-Active" <%
                  } %> readonly />
                </div>
              </div>

              <div class="form-group row">
                <label
                  for="transporterIsDeleted"
                  class="col-sm-2 col-form-label"
                  >Deleted</label
                >
                <div class="col-sm-10">
                  <input class="form-control" type="text"
                  id="transporterIsDeleted" name="isDeleted" <% if(
                  transporter.transporterData.is_deleted === false ) { %>
                  value="No" <% } else { %> value="Yes" <% } %> readonly />
                </div>
              </div>

              <% if( transporter.is_deleted === true ) { %>
              <div class="form-group row">
                <label
                  for="transporterRemoveReason"
                  class="col-sm-2 col-form-label"
                  >Reason for delete a user</label
                >
                <div class="col-sm-10">
                  <input
                    class="form-control"
                    type="text"
                    id="transporterRemoveReason"
                    name="reason"
                    placeholder="Reason for deleting the user"
                    value="<%= transporter.transporterData.reason %>"
                    readonly
                  />
                </div>
              </div>
              <% } %>

              <div class="form-group row">
                <label
                  for="transporterIsRegistered"
                  class="col-sm-2 col-form-label"
                  >Registered</label
                >
                <div class="col-sm-10">
                  <input class="form-control" type="text"
                  id="transporterIsRegistered" name="registered" <% if(
                  transporter.transporterData.registered === true ) { %>
                  value="Registered" <% } else { %> value="Non-Registered" <% }
                  %> readonly />
                </div>
              </div>

              <div class="form-group row">
                <label
                  for="transporterGstNumber"
                  class="col-sm-2 col-form-label"
                  >GST Number</label
                >
                <div class="col-sm-10">
                  <input class="form-control" type="text"
                  id="transporterGstNumber" placeholder="Enter your GST Number"
                  name="gstNo" <% if( transporter.transporterData.gst_number ==
                  "" ) { %> value="Not Available" <% } else { %> value="<%=
                  transporter.gst_number %>" <% } %> readonly />
                </div>
              </div>

              <div class="form-group row">
                <label
                  for="transporterRegisterNumber"
                  class="col-sm-2 col-form-label"
                  >Register Number</label
                >
                <div class="col-sm-10">
                  <input class="form-control" type="text"
                  id="transporterRegisterNumber" name="registerNo"
                  placeholder="Enter your Register Number" <% if(
                  transporter.transporterData.register_number == "" ) { %>
                  value="Not Available" <% } else { %> value="<%=
                  transporter.register_number %>" <% } %> readonly />
                </div>
              </div>

              <!-- <div class="form-group row">
                <a
                  type="button"
                  id="transporterDrivers_<%= transporter.id %>"
                  class="btn btn-outline-purple waves-effect waves-light driver-list"
                  href="/driver/<%= transporter.id %>/displayDrivers"
                >
                  List all drivers</a
                >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a
                  type="button"
                  class="btn btn-outline-purple waves-effect waves-light"
                  href="/vehicle/<%= transporter.id %>/displayVehicles"
                >
                  List all vehicles
                </a>
              </div> -->

              <!-- Tabs -->
              <div class="form-group row">
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item">
                    <a
                      class="nav-link active"
                      data-toggle="tab"
                      href="#DriversList"
                      role="tab"
                    >
                      <span>List all Drivers</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      data-toggle="tab"
                      href="#VehicleList"
                      role="tab"
                    >
                      <span>List all Vehicles</span>
                    </a>
                  </li>
                </ul>
              </div>

              <div class="tab-content">
                <div
                  class="tab-pane active p-3"
                  id="DriversList"
                  role="tabpanel"
                >
                  <!-- <p>I am in Driver Tab</p> -->
                  <div class="row">
                    <div class="col-12">
                      <div class="card m-b-20">
                        <div class="card-body">
                          <h4 class="mt-0 header-title">List of all the Drivers</h4>
                          <% include ../../Partials/errorMessages %>
                          <table
                            id="datatable"
                            class="table table-bordered dt-responsive nowrap"
                            cellspacing="0"
                            width="100%"
                          >
                            <thead>
                              <tr>
                                <th>ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <!-- <th>Photo</th> -->
                                <th>Verified</th>
                                <th>Status</th>
                                <th>Actions</th>
                              </tr>
                            </thead>
              
                            <tbody>
                            <% for(var i=0;i<drivers.length;i++) { %>
                              <tr>
                                <td><%= i+1 %></td>
                                <td><%= drivers[i].driverData.first_name %></td>
                                <td><%= drivers[i].driverData.last_name %></td>
                                <td><%= drivers[i].driverData.email %></td>
                                <td><%= drivers[i].driverData.phone_number %></td>
                                <!-- <td>
                                  <img
                                      class="d-flex mr-3 thumbnail thumb-lg"
                                      src="data:<%= drivers[i].driverData.driver_photo.type %>;base64,<%= drivers[i].driverData.driver_photo.base64 %>"
                                      alt="driver image"
                                  />
                                </td> -->
                                <% if( drivers[i].driverData.is_verified === "verified" ) { %>
                                  <td style="text-align: center;">
                                    <button class="btn btn-primary waves-effect waves-light change_isVerified_driver"disabled>
                                      <i class="mdi mdi mdi-check" style="font-size: 20px;"></i>
                                    <!-- verified -->
                                  </button>
                                </td>
                                <% } else { %>
                                  <td style="text-align: center;">
                                    <button class="btn btn-warning waves-effect waves-light change_isVerified_driver"  id="driverIsVerified_<%= drivers[i].transporter_id %>_<%= drivers[i].driverData.user_uid %>">
                                      <i class="mdi mdi-alert-circle-outline" style="font-size: 20px;"></i>
                                      <!-- Pending -->
                                    </button>
                                </td>
                                <% } %>
              
                                <% if( drivers[i].driverData.status === true ) { %>
                                  <td style="text-align: center;">
                                  <span data-toggle="modal" data-target="#statusModal_<%= drivers[i].id %>">
                                    <button class="btn btn-success waves-effect waves-light change_status" id="<%= drivers[i].id %>">Active</button>
                                  </span>
                                  </td>
                                <% } else { %>
                                  <td style="text-align: center;">
                                  <span data-toggle="modal" data-target="#statusModal_<%= drivers[i].id %>">
                                    <button class="btn btn-danger waves-effect waves-light change_status"  id="<%= drivers[i].id %>">In-Active</button>
                                  </span>
                                  </td>
                                <% } %>
              
                                <td style="text-align: center;">
                                  <span data-toggle="modal" data-target="#removeModal_<%= drivers[i].id %>">
                                    <button 
                                    type="button" 
                                    class="btn btn-danger waves-effect waves-light m-r-5" 
                                    data-toggle="tooltip" data-original-title="Delete"
                                    >
                                    <i class="mdi mdi-delete "></i>
                                    <!-- <span> Delete </span> -->
                                    </button>
                                  </span>
                                    <!-- <button 
                                    type="button" 
                                    class="btn btn-warning waves-effect waves-light m-r-5" 
                                    data-toggle="tooltip" data-original-title="Edit"
                                    >
                                    <i class="mdi mdi-grease-pencil"></i> -->
                                    <!-- <span> Edit </span> -->
                                    <!-- </button> -->
                                    <button 
                                    type="button" 
                                    class="btn btn-info waves-effect waves-light m-r-5" 
                                    data-toggle="tooltip" data-original-title="View"
                                    onclick="location.href='/driver/<%= drivers[i].transporter_id %>/driverDetails/<%= drivers[i].driverData.user_uid %>'"
                                    >
                                    <i class="mdi mdi-file-document"></i>
                                    <!-- <span> View </span> -->
                                    </button>
                                </td>
                              </tr>
                            <!-- Modal -->
                            <div class="modal fade" id="removeModal_<%= drivers[i].id %>" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="modalLabel">
                                      Are you sure you want to delete this user?
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    <form role="form" id="modalForm_<%= drivers[i].transporter_id %>_<%= drivers[i].driverData.user_uid %>" class="remove_form_driver">
                                      <div>
                                        <div class="form-group row">
                                          <label  class="col-sm-2 col-form-label"
                                            >Reason</label
                                          >
                                          <div class="col-sm-10">
                                            <input
                                              class="form-control"
                                              type="text"
                                              id="reasonForDelete_<%= drivers[i].driverData.user_uid %>"
                                              name="reason"
                                              placeholder="Please enter the reason for deletetion."
                                              required
                                            />
                                          </div>
                                        </div>
                                      </div>
                                    <div class="modal-footer">
                                      <button type="button" id="btnModalClose_<%= drivers[i].transporter_id %>_<%= drivers[i].driverData.user_uid %>" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                      <button type="submit" id="btnDelete_<%= drivers[i].transporter_id %>_<%= drivers[i].driverData.user_uid %>" class="btn btn-danger remove-driver">Delete</button>
                                    </div>
                                  </div>
                                </form>
                                </div>
                              </div>
                            </div>
                            <!-- Modal For Enable/Disable -->
                            <div class="modal fade" id="statusModal_<%= drivers[i].id %>" tabindex="-1" role="dialog" aria-labelledby="modalStatusLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="modalStatusLabel">
                                      Are you sure you want to change Driver's status?
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    <form role="form" method="POST" id="modalStatusForm_<%= drivers[i].transporter_id %>_<%= drivers[i].driverData.user_uid %>" class="status_form_driver">
                                      <div>
                                        <div class="form-group row">
                                          <label  class="col-sm-2 col-form-label"
                                            >Reason</label
                                          >
                                          <div class="col-sm-10">
                                            <input
                                              class="form-control"
                                              type="text"
                                              name="reason"
                                              id="statusChangeReason_<%= drivers[i].driverData.user_uid %>"
                                              placeholder="Please enter the reason for changing the status."
                                              required
                                            />
                                          </div>
                                        </div>
                                      </div>
                                    <div class="modal-footer">
                                      <button type="button" id="btnModalStatusClose_<%= drivers[i].transporter_id %>_<%= drivers[i].driverData.user_uid %>" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                      <button type="submit" id="btnStatusChange_<%= drivers[i].transporter_id %>_<%= drivers[i].driverData.user_uid %>" class="btn btn-warning status-transporter">Change Status</button>
                                    </div>
                                  </div>
                                </form>
                                </div>
                              </div>
                            </div>
                            <% } %>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    <!-- end col -->
                  </div>
                  <!-- end row -->
                </div>
                <div class="tab-pane p-3" id="VehicleList" role="tabpanel">
                  <!-- <p>I am in vehicle Tab</p> -->
                  <div class="row">
                    <div class="col-12">
                      <div class="card m-b-20">
                        <div class="card-body">
                          <h4 class="mt-0 header-title">List of all the Vehicles</h4>
                          <% include ../../Partials/errorMessages %>
                          <table
                            id="datatable1"
                            class="table table-bordered dt-responsive nowrap"
                            cellspacing="0"
                            width="100%"
                          >
                            <thead>
                              <tr>
                                <th>ID</th>
                                <th>Vehicle Type</th>
                                <th>Vehicle Number</th>
                                <th>Chassis Number</th>
                                <th>Verified</th>
                                <th>Status</th>
                                <th>Actions</th>
                              </tr>
                            </thead>
              
                            <tbody>
                            <% for(var i=0;i<vehicles.length;i++) { %>
                              <tr>
                                <td><%= i+1 %></td>
                                <td><%= vehicles[i].vehicleData.vehicle_type %></td>
                                <td><%= vehicles[i].vehicleData.vehicle_number %></td>
                                <td><%= vehicles[i].vehicleData.chassis_number %></td>
                                <% if( vehicles[i].vehicleData.is_verified === "verified" ) { %>
                                  <td style="text-align: center;">
                                    <button class="btn btn-primary waves-effect waves-light change_isVerified_vehicle" disabled>
                                      <i class="mdi mdi mdi-check" style="font-size: 20px;"></i>
                                    <!-- verified -->
                                  </button>
                                </td>
                                <% } else { %>
                                  <td style="text-align: center;">
                                    <button class="btn btn-warning waves-effect waves-light change_isVerified_vehicle"  id="vehicleIsVerified_<%= vehicles[i].transporter_id %>_<%= vehicles[i].id %>">
                                      <i class="mdi mdi-alert-circle-outline" style="font-size: 20px;"></i>
                                      <!-- Pending -->
                                    </button>
                                </td>
                                <% } %>
              
                                <% if( vehicles[i].vehicleData.status === true ) { %>
                                  <td style="text-align: center;">
                                  <span data-toggle="modal" data-target="#statusModal_<%= vehicles[i].id %>">
                                    <button class="btn btn-success waves-effect waves-light change_status" id="<%= vehicles[i].id %>">Active</button>
                                  </span>
                                  </td>
                                <% } else { %>
                                  <td style="text-align: center;">
                                  <span data-toggle="modal" data-target="#statusModal_<%= vehicles[i].id %>">
                                    <button class="btn btn-danger waves-effect waves-light change_status"  id="<%= vehicles[i].id %>">In-Active</button>
                                  </span>
                                  </td>
                                <% } %>
              
                                <td style="text-align: center;">
                                  <span data-toggle="modal" data-target="#removeModal_<%= vehicles[i].id %>">
                                    <button 
                                    type="button" 
                                    class="btn btn-danger waves-effect waves-light m-r-5" 
                                    data-toggle="tooltip" data-original-title="Delete"
                                    >
                                    <i class="mdi mdi-delete "></i>
                                    <!-- <span> Delete </span> -->
                                    </button>
                                  </span>
                                    <!-- <button 
                                    type="button" 
                                    class="btn btn-warning waves-effect waves-light m-r-5" 
                                    data-toggle="tooltip" data-original-title="Edit"
                                    >
                                    <i class="mdi mdi-grease-pencil"></i> -->
                                    <!-- <span> Edit </span> -->
                                    <!-- </button> -->
                                    <button 
                                    type="button" 
                                    class="btn btn-info waves-effect waves-light m-r-5" 
                                    data-toggle="tooltip" data-original-title="View"
                                    onclick="location.href='/vehicle/<%= vehicles[i].transporter_id %>/vehicleDetails/<%= vehicles[i].id %>'"
                                    >
                                    <i class="mdi mdi-file-document"></i>
                                    <!-- <span> View </span> -->
                                    </button>
                                </td>
                              </tr>
                            <!-- Modal -->
                            <div class="modal fade" id="removeModal_<%= vehicles[i].id %>" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="modalLabel">
                                      Are you sure you want to delete this Vehicle?
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    <form role="form" id="modalForm_<%= vehicles[i].transporter_id %>_<%= vehicles[i].id %>" class="remove_form_vehicle">
                                      <div>
                                        <div class="form-group row">
                                          <label  class="col-sm-2 col-form-label"
                                            >Reason</label
                                          >
                                          <div class="col-sm-10">
                                            <input
                                              class="form-control"
                                              type="text"
                                              id="reasonForDelete_<%= vehicles[i].id %>"
                                              name="reason"
                                              placeholder="Please enter the reason for deletetion."
                                              required
                                            />
                                          </div>
                                        </div>
                                      </div>
                                    <div class="modal-footer">
                                      <button type="button" id="btnModalClose_<%= vehicles[i].transporter_id %>_<%= vehicles[i].id %>" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                      <button type="submit" id="btnDelete_<%= vehicles[i].transporter_id %>_<%= vehicles[i].id %>" class="btn btn-danger remove-driver">Delete</button>
                                    </div>
                                  </div>
                                </form>
                                </div>
                              </div>
                            </div>
                            <!-- Modal For Enable/Disable -->
                            <div class="modal fade" id="statusModal_<%= vehicles[i].id %>" tabindex="-1" role="dialog" aria-labelledby="modalStatusLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="modalStatusLabel">
                                      Are you sure you want to change Vehicle's status?
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    <form role="form" id="modalStatusForm_<%= vehicles[i].transporter_id %>_<%= vehicles[i].id %>" class="status_form_vehicle">
                                      <div>
                                        <div class="form-group row">
                                          <label  class="col-sm-2 col-form-label"
                                            >Reason</label
                                          >
                                          <div class="col-sm-10">
                                            <input
                                              class="form-control"
                                              type="text"
                                              id="statusChangeReason_<%= vehicles[i].id %>"
                                              name="reason"
                                              placeholder="Please enter the reason for changing the status."
                                              required
                                            />
                                          </div>
                                        </div>
                                      </div>
                                    <div class="modal-footer">
                                      <button type="button" id="btnModalStatusClose_<%= vehicles[i].transporter_id %>_<%= vehicles[i].id %>" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                      <button type="submit" id="btnStatusChange_<%= vehicles[i].transporter_id %>_<%= vehicles[i].id %>" class="btn btn-warning status-transporter">Change Status</button>
                                    </div>
                                  </div>
                                </form>
                                </div>
                              </div>
                            </div>
                            <% } %>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    <!-- end col -->
                  </div>
                  <!-- end row -->
                </div>
              </div>

              <button
                type="button"
                class="btn btn-group btn-primary waves-effect"
                onclick="location.href='/transporter/displayTransporters'"
              >
                Display Transporters
              </button>

              <button
                id="btnCancel"
                name="btnCancel"
                type="button"
                class="btn btn-group btn-danger waves-effect"
                onclick="location.href='/dashboard'"
              >
                Cancel
              </button>
            <!-- </form> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- contentFor('FooterJs') %>
<!-- Required datatable js -->
<script src="/assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/assets/plugins/datatables/dataTables.bootstrap4.min.js"></script>
<!-- Buttons examples -->
<script src="/assets/plugins/datatables/dataTables.buttons.min.js"></script>
<script src="/assets/plugins/datatables/buttons.bootstrap4.min.js"></script>
<script src="/assets/plugins/datatables/jszip.min.js"></script>
<script src="/assets/plugins/datatables/pdfmake.min.js"></script>
<script src="/assets/plugins/datatables/vfs_fonts.js"></script>
<script src="/assets/plugins/datatables/buttons.html5.min.js"></script>
<script src="/assets/plugins/datatables/buttons.print.min.js"></script>
<script src="/assets/plugins/datatables/buttons.colVis.min.js"></script>
<!-- Responsive examples -->
<script src="/assets/plugins/datatables/dataTables.responsive.min.js"></script>
<script src="/assets/plugins/datatables/responsive.bootstrap4.min.js"></script>

<!-- Datatable init js -->
<script src="/assets/pages/datatables.init.js"></script>

<script>
  $(function () {
    $(".status_form_driver").submit(function(e){
      e.preventDefault();
      const id=$(this).attr("id");
      // console.log("ID***",id);
      const transporter_id=id.split("_")[1];
      // console.log("TransporterID***",transporter_id);
      const driver_id=id.split("_")[2];
      // console.log("DriverID***",driver_id);
      const data={
        reason:$("#statusChangeReason_"+driver_id).val(),
      }
      // console.log("DATA***",data);
      $.ajax({
        url:`/driver/${transporter_id}/status/${driver_id}`,
        type:"POST",
        data:data,
        success:function(){
          location.reload();
        },
        error:function(){
          alert(`There is some issue with changing status`);
        }
      });
    });

    $(".remove_form_driver").submit(function(e){
      e.preventDefault();
      const id=$(this).attr("id");
      const transporter_id=id.split("_")[1];
      const driver_id=id.split("_")[2];
      const data={
        reason:$("#reasonForDelete_"+driver_id).val(),
      }
      // console.log(data,split_id);
      $.ajax({
        url:`/driver/${transporter_id}/removeDriver/${driver_id}`,
        type:"POST",
        data:data,
        success:function(){
          location.reload();
          // alert("The Record's been deleted...!!");
        },
        error:function(){
          alert(`There is some issue with the delete.`);
        }
      });
    });

    $(document).on("click", ".change_isVerified_driver", function (e) {
      e.preventDefault();
      const id=$(this).attr("id");
      // console.log("ID",id);
      const transporter_id=id.split("_")[1];
      // console.log("TID",transporter_id);
      const driver_id=id.split("_")[2];
      // console.log("DID",driver_id);
      $.ajax({
        url:`/driver/${transporter_id}/verifyDriver/${driver_id}`,
        type:"POST",
        success:function(){
          location.reload();
        },
        error:function(){
          alert(`There is some issue with verification`);
        }
      });
    });

    $(".status_form_vehicle").submit(function(e){
      e.preventDefault();
      const id=$(this).attr("id");
    //   console.log("ID***",id);
      const transporter_id=id.split("_")[1];
    //   console.log("TransporterID***",transporter_id);
      const vehicle_id=id.split("_")[2];
    //   console.log("DriverID***",driver_id);
      const data={
        reason:$("#statusChangeReason_"+vehicle_id).val(),
      }
    //   console.log("DATA***",data);
      $.ajax({
        url:`/vehicle/${transporter_id}/status/${vehicle_id}`,
        type:"POST",
        data:data,
        success:function(){
          location.reload();
        },
        error:function(){
          alert(`There is some issue with changing status`);
        }
      });
    });

    $(".remove_form_vehicle").submit(function(e){
      e.preventDefault();
      const id=$(this).attr("id");
      const transporter_id=id.split("_")[1];
      const vehicle_id=id.split("_")[2];
      const data={
        reason:$("#reasonForDelete_"+vehicle_id).val(),
      }
      $.ajax({
        url:`/vehicle/${transporter_id}/removeVehicle/${vehicle_id}`,
        type:"POST",
        data:data,
        success:function(){
          location.reload();
          // alert("The Record's been deleted...!!");
        },
        error:function(){
          alert(`There is some issue with the delete.`);
        }
      });
    });

    $(document).on("click", ".change_isVerified_vehicle", function (e) {
      e.preventDefault();
      const id=$(this).attr("id");
    //   console.log("ID",id);
      const transporter_id=id.split("_")[1];
    //   console.log("TID",transporter_id);
      const vehicle_id=id.split("_")[2];
    //   console.log("VID",vehicle_id);
      $.ajax({
        url:`/vehicle/${transporter_id}/verifyVehicle/${vehicle_id}`,
        type:"POST",
        success:function(){
          location.reload();
        },
        error:function(){
          alert(`There is some issue with verification`);
        }
      });
    });
  });
</script>

<%- contentFor('BottomJs') %>
