<%- contentFor('HeaderCss') %>
<link href="assets/plugins/summernote/summernote-bs4.css" rel="stylesheet" />

<%- contentFor('breadcrumb') %>
<ul class="list-inline menu-left mb-0">
  <li class="list-inline-item">
    <button type="button" class="button-menu-mobile open-left waves-effect">
      <i class="ion-navicon"></i>
    </button>
  </li>
  <li class="hide-phone list-inline-item app-search">
    <h3 class="page-title">Summernote</h3>
  </li>
</ul>

<%- contentFor('body') %>
<div class="page-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card m-b-20">
          <div class="card-body">
            <h4 class="mt-0 header-title">Examples</h4>
            <p class="text-muted m-b-30 font-14">
              Super simple wysiwyg editor on bootstrap
            </p>

            <div class="summernote">Hello Summernote</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- contentFor('FooterJs') %>
<script src="assets/plugins/summernote/summernote-bs4.js"></script>

<%- contentFor('BottomJs') %>
<script>
  jQuery(document).ready(function () {
    $(".summernote").summernote({
      height: 300, // set editor height
      minHeight: null, // set minimum height of editor
      maxHeight: null, // set maximum height of editor
      focus: true, // set focus to editable area after initializing summernote
    });
  });
</script>
